extends ./layouts/index

block slider
    .slider
        h1 Rio de Janeiro 
        em Aventura 

block contenido 
    main.container.mt-5   
        h2.text-center.mb-5 Sobre nosotros  
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac augue nec felis convallis interdum a sed libero. Vestibulum semper tincidunt tellus ac bibendum. Nunc in finibus elit. Curabitur cursus arcu velit, non pulvinar lorem mollis in. Pellentesque habitant morbi.
                p Vivamus porttitor, erat at convallis aliquam, tellus leo cursus risus, sit amet varius risus tortor eu ligula. Pellentesque laoreet libero massa. Praesent dictum et odio a hendrerit. Sed vitae enim quis justo mollis maximus.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layouts/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido  
                        h3 5% de descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de marzo de 2022 | 28 de marzo de 2022
                        p.precio $2,500 USD
    
    .container  
        h2.mt-5.text-center Testimoniales 
        include ./layouts/bloque_testimoniales