extends ./layouts/index

block contenido 
    main.container.mt-5     
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="paris", class="img-fluid")
            .col-md-7 
                h1= pagina

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris efficitur enim vel libero blandit faucibus. Curabitur eros neque, laoreet nec leo et, fringilla suscipit turpis. Mauris finibus ipsum id justo pretium blandit. Pellentesque elementum, nunc id sodales consectetur, neque eros venenatis turpis, sit amet vestibulum ex nunc commodo nisi. Integer ac justo at leo malesuada ultrices non eu leo. Praesent ultrices, risus ut tempus. 

                p Phasellus aliquam efficitur interdum. Sed sagittis leo nisl, vitae semper lectus aliquet eget. Vivamus sit amet quam tristique, dapibus orci quis, auctor odio. Duis nisl elit, egestas sed lacinia ac, hendrerit in justo. Morbi fermentum nec nulla sit amet venenatis. 

                p Praesent a ante fringilla, ullamcorper sem a, finibus massa. Nunc vehicula eget turpis sit amet efficitur. Pellentesque tortor magna, pellentesque non nisl in, interdum dapibus ipsum. Mauris sit amet arcu ut felis sagittis.

    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img/fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Praesent at eros ac nibh tempor sagittis. Duis sapien erat, feugiat sed pulvinar sit amet, feugiat vel ante.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img/fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Praesent at eros ac nibh tempor sagittis. Duis sapien erat, feugiat sed pulvinar sit amet, feugiat vel ante.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img/fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Praesent at eros ac nibh tempor sagittis. Duis sapien erat, feugiat sed pulvinar sit amet, feugiat vel ante.
